# Folders
.vscode/
__pycache__/
plots/
*.egg-info/
eggs/
.eggs/
old/
pstats/
R_test/
build/
jesmoc_mfdgp/
.ipynb_checkpoints/
experiments/

# Files
*.pyc
*.egg
*_pr.*
*_old.py
*_old.ipynb
*.pstats
*.png
*.lprof
*.dat
*.pdf
*.txt
*.zip
*.sh
*.out

